**.zip
**.env
**.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.mysql
.postgresql
nginx/certs/**.crt
nginx/certs/**.key
nginx/nginx.conf
nginx/conf/**.conf
docker/keycloak/Dockerfile
docker/keycloak/**.keystore
sb-b2b-management-system