SERVER_HOST=app.example.com

DATABASE_USERNAME=dev
DATABASE_PASSWORD=
DATABASE_HOST='127.0.0.1'
POSTGRES_EXTERNAL_PORT=

KEYCLOAK_EXTERNAL_PORT=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_KEYSTORE_PASSWORD=

KEYCLOAK_HOST=keycloak.example.com
KEYCLOAK_BASE_URL=https://keycloak.example.com
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

KAFKA_EXTERNAL_PORT=29092
KAFKA_BOOTSTRAP_URL=PLAINTEXT://example.com:29092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://example.com:29092